results/*

results/*

.env
logs/*

*__pycache__*
*wandb*
*runs*

*.out
*.pt

*.err

*.log
*.pyc

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
adapter_evaluation/outputs_7b
cache/

/mmluevl

/mmlu
/mmluenv

/mmlev
/mmluenv
/output-mmlu
/temp
/mmluevn
/output-scored
config/generated/